<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>설문 페이지</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        
    </style>
</head>
    
<body>
    <!-- Start your project here-->
    <!--페이지 메인 영역 -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #036B3F;">
            <a class="navbar-brand" href="index.html">KUL matching hat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggler">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">시작</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">설문</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/result">결과</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown">서비스 개요</a>
                        <div class="dropdown-menu dropdown-primary"
                             aria-labelledby="dropdown">
                            <a class="dropdown-item" href="/qna">QnA</a>
                            <a class="dropdown-item" href="/creator">만든이</a>
                        </div>
                    </li>
                        
                </ul>
            </div>
        </nav> 
    </header>
    
    <main>
        <div class="container mt-5">
            <form method="POST" action="/servey" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <!--이메일-->
                <p>
                    {{ form.email.label(class="form-label") }}
                    <br>
                    {{ form.email(class="form-control") }}
                </p>
                <!--나이-->
                <p>
                    {{ form.age.label(class="form-label") }}
                    <br>
                    {{ form.age(class="form-control") }}
                </p>
                <!--성별-->
                <p>
                    {{ form.sex.label(class="form-label") }}
                    <br>

                    {% for subfield in form.sex %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}

                </p>

                <!--단과대-->
                <p>
                    {{ form.college_of.label(class="form-label") }}
                    <br>
                    {{ form.college_of() }}
                </p>

                <!--식사 해결-->
                <p>
                    {{ form.how_eat.label }}
                    <br>

                    {% for subfield in form.how_eat %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                </p>

                <br>
                {{ form.submit(class="btn btn-primary") }}

            </form>
        </div>
    </main>
    <!-- End your project here-->
    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap.min.css') }}"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript"></script>
  
</body>
</html>
